@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto+Condensed:ital,wght@0,100;0,300;1,400&display=swap');
*{
    box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: none !important;
}
.overlayVisible {
  display: block !important;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;  
  padding-left: 10px;
  background-color: #ececec00;
  max-height: 45px;
}
.navList {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.navList li a {
  text-decoration: none;
  font-size: 18px;
}
.abrirMenu,
.cerrarMenu {
  display: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
body{
  min-height: 100vh;
  margin: auto;
  font-family: 'Dela Gothic', sans-serif;
}
h1{
    margin: 0;
    padding: 5px;
    font-size: 70px;
    -webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both
} 
body h2{
    color: rgb(153, 153, 231);
    margin: 0;
    padding: 10px;
    font-size: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
} 
body h3{
    color: rgb(153, 153, 231);
    margin: 0;
    padding: 10px;
    font-size: 40px; 
}
body p{
    padding: 10px;
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
/* toggle */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
/* ------ */

/*----btn1----*/
.btn {
    width: 19em;
    height: 3em;
    border-radius: 10px;
    background: #7f00ff59;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  .btn > span{
    padding-left: 18px;
  }
/*------------------------------------*/

.contentLigth, .contentDak {
    min-height: 100vh;
    margin: auto;
}
.contentLigth{ 
    background-image: url('/cool-background\ \(1\).png');
    color: white;    
}
.contentDak{
    background-image: url('/cool-background.png') ;
    color: black;
}
.head{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    padding-top: 80px;
}
.head p{
  display: block;
 max-width: 680px;
}
.section{
    background-color: rgb(0 126 255 / 14%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.section div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section img{
    width: 3rem;
}
.sectionScroll{
  background-color: rgb(0 126 255 / 14%);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(30px);
}
.sectionScroll div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionScroll img{
  width: 3rem;
}
.about{
    padding: 10px;
}
.about a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
}
.espacio{
    padding-left: 5px;
}

.about img{
    max-width: 35%;
}
.about{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.about p{
    max-width: 400px;
}
h1 span{
    padding: 10px;
    background: linear-gradient(270deg,#7f00ff,#7f00ff 25%,#00c6ff 50%,#0072ff 99.99%,#e100ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skill > .parrafo{
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}
.skills{
    width: 100px;
    padding: 10px;
}
.mysql{
  width: 130px;
  padding: 10px;
}
.skills:hover, .mysql:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0 0 0.75rem #b291ea);
}
.imgs{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 700px;
}
.linkedin{
    background: transparent;
    border: none;
}
.linkedin:hover{
    transform:  scale(1.1, 1.1);
   
}
.contac{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------*/
.container {
    position: relative;
    font-family: sans-serif;
    padding: 10px;
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #70f2faa1;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 65%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 21em;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(0, 0, 0, 55%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
    display: flex;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;  
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #70f2fa4c;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  /*-------------------------------------------------------------*/
.proyects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.proyectsDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 10px;
}
button{
  border-radius: 10px;
  background: #7f00ff59;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  color: white;
  margin: 0 10px;
  padding: 10px;
}
button:hover{
  background: linear-gradient(0deg,#A47CF3,#683FEA);
}

.formcontainer {
  max-width: 600px;
  margin: 25px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #a3dafb;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.formcontainer .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.formcontainer .form .input:focus {
  border-left: 5px solid #a3dafb;
}

.formcontainer .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #a3dafb;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.formcontainer .form .textarea:focus {
  border-left: 5px solid #a3dafb;
}

.formcontainer .form .buttoncontainer {
  display: flex;
  gap: 10px;
}

.formcontainer .form .buttoncontainer .sendbutton {
  flex-basis: 70%;
  background: #a3dafb;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.formcontainer .form  .sendbutton:hover {
  background: transparent;
  border: 1px solid #a3dafb;
  color: #a3dafb;
}

.formcontainer .form   {
  filter: drop-shadow(1px 1px 0px #a3dafb);
  flex-basis: 30%;
}

.formcontainer .form .buttoncontainer  {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #a3dafb;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.formcontainer .form .buttoncontainer  {
  background: #a3dafb;
  color: #001925;
}
.sendbutton{
  width: 14em;
}

.formu{
  display: flex;
  justify-content: center;
  align-items: center
}
footer > p{
  color: grey;
  font-size: 15px;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  padding: 0;
}
svg{
  width:5em;
}

@media only screen and (max-width: 600px) {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .formu{
    display: block;
  }
  .abrirMenu,
  .cerrarMenu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrirMenu {
      color: #1c1c1c;
  }

  .cerrarMenu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
      min-height: 100vh;
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .navList {
      flex-direction: column;
      align-items: end;
  }

  .navList li a {
      color: #ecececec;
  }
 .abrirMenu > svg{
    width: 2em;
  }
  .cerrarMenu > svg{
    width: 2em;
    height: 2em;
  }
 
}
@media screen and (max-width: 400px) {
  .container .box {
    width: 19em;
  }
  .btn{
    width: 15em;
  }
  h1{
    font-size: 60px;
  }
  body h2{
    font-size: 43px;
  }
  body p{
    font-size: 17px;
  }
  footer > p{
    font-size: 14px;
  }
  .sendbutton{
    width: 10em;
  }
}
@media screen and (max-width: 320px) {
  .container .box {
    width: 14em;
  }
  .btn{
    width: 10em;
  }
  h1{
    font-size: 50px;
  }
  body h2{
    font-size: 32px;
  }
  body p{
    font-size: 12px;
  }
  footer > p{
    font-size: 8px;
  }
  .sendbutton{
    width: 7em;
  }
  button{
   margin: 5px 5px;
  } 
  svg{
    width: 3.5em;
    height: 3em;
  }
}


 @-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}} 